@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<WomenWorld.Models.Persons>
@foreach (var Person in Model)
{
<div class="row">
     <div class="col-md-10">
         <h1>@Person.PersonName</h1>
        <label>Click on the below image to know about her.</label>
    </div>

</div>
<br />
<div class="row">
    <div class="col-4"></div>
    <div class="col-4"></div>
    <div class="col-4"></div>
    <div class="col-md-12 mx-auto text-center">
        <a href="@Url.Action("Privacy","Home",new { id = Person.PersonID })">
            <img src="@Url.Content(Person.PersonImage)" width="300" height="400" />

        </a>

    </div>
</div>
<br/>
<br />
<div class="row">
    </div>
    }
